:root {
    --max-width: 571px;
    --sans: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    --font-extra-small: 0.75rem;
    --font-small: 0.8rem;
    --font-medium: 0.9rem;
    --font-reg: 1.0625rem;
    --font-medium-large: 1.2rem;
    --font-moderately-large: 2rem;
    --font-large: 2.25rem;
    --font-extralarge: 3rem;
    --color-blue: #0070c9;
    --color-text: #333333;
    --color-accent-green: #84fab0;
    --color-accent-blue: #8fd3f4;
}



a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--color-blue);
}

a:link, a:visited {
    text-decoration: none;
}

a {
    color: var(--color-blue);
}

body{
	line-height: 1.6;
	font-size: var(--font-reg);
	color: var(--color-text);
    padding: 0;
    margin:0;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f2f2f2;
    font-family: var(--sans);
}

article {
    margin: 20px auto 40px auto;
    max-width: var(--max-width);
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    color: var(--color-text);
}

article h1 + p {
    margin-bottom: 2.5rem;
    line-height: 1.33349;
    font-weight: 400;
    letter-spacing: .009em;
    /* margin-bottom: -10px; */
    margin-top: -12px;
}
	
h1,h2,h3{
	line-height:1.2;
}

.font-extralarge {
    font-size: var(--font-extralarge);
}

h1{
    margin: 3rem auto 24px;
    font-size: var(--font-large);
    line-height: 1.13353;
    font-weight: 600;
    letter-spacing: .006em;
    margin-bottom: 20px;
}


h4 {
    margin: 17px 0;
}

.nav-menu{
    display: flex;
    margin:0;
    justify-content: space-between;
	}

    ul.nav-menu {
        list-style: none;
    }

.nav-menu a{
	opacity: 1;
    transition: opacity 500ms ease-in 200ms;
	color: var(--color-text);
    text-decoration: none!important;
    padding: 20px 0 20px 0;
}

.nav-menu a:hover{
	color: #0070C9;
}

.zero-margin {
    margin: 0;
}

@media screen and (max-width: 735px) {

        h1{
          text-align: center;
        }

    .nav-menu, figcaption{
        margin-left: auto!important;
        margin-right: auto!important;
        width: 87.5%!important;
    }

    .mobile-margin {
        margin-left: auto!important;
        margin-right: auto!important;
        width: 87.5%!important;
    }
}



hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid rgba(51,51,51,0.1);
	margin: 1em 0;
	padding: 0;
}



.picture-image{
	display: inline-block;
    width: 100%;
    height: auto;
}


.image.image-big {
    min-width: 320px;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    height: var(--max-width);
    max-width: var(--max-width);
    text-indent: 0;
    margin-top: 32px;
	margin-bottom: 32px;

}

figcaption {
    font-size: var(--font-extra-small);
    line-height: 1.33341;
    font-weight: 400;
    letter-spacing: -.01em;
    color: var(--color-text);
    margin: 11px 16px -5px;
    position: relative;
    width: 87.5%;
    margin: 5px 0 -5px;
}


.index-item-logo {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.image-item {
    height: var(--max-width);
    max-height: var(--max-width);
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.index-zota{
    margin-inline-start:40px;
    margin-inline-end: 40px;
}
  
/*
.index-padding{
      padding: 0px 80px;
  }
*/


  ul, ol {
    margin-left: 1.17647em;
    padding: 0;
}

footer {
    margin: 20px auto 40px auto;
    max-width: var(--max-width);
    font-size: var(--font-extra-small);
    line-height: 1.33341;
    font-weight: 400;
    letter-spacing: -.01em;
}

.mobile-show{
    display: none;
}

.mobile-hide{
    display: block;
}


.bottomnav {
    display: none;
}

.resource-text{
    padding: 16px 16px 0 16px;
    border-radius: 8px;
    text-align: center;
    margin: 0 0 1.8em;
}

.resource-text p:nth-child(2) {
    margin: 0;
    padding: 2px 0;
}

.resource-card {
    display: block;
    margin: 10px 10px;
    /* box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28); */
    box-shadow:
        0 1px 1px rgba(32, 33, 36, 0.09),
        0 2px 2px rgba(32, 33, 36, 0.09),
        0 4px 4px rgba(32, 33, 36, 0.09),
        0 8px 8px rgba(32, 33, 36, 0.09);
    border-radius: 20px;
    transition: box-shadow 0.2s ease-in-out;
}

.resource-card:hover {
    box-shadow:
        0 1px 1px rgba(32, 33, 36, 0.18),
        0 2px 2px rgba(32, 33, 36, 0.18),
        0 4px 4px rgba(32, 33, 36, 0.18),
        0 8px 8px rgba(32, 33, 36, 0.18);
    opacity: .95;
}


  @media screen and (max-width: 735px) {

 
    .mobile-hide{
        display: none;
    }
    .mobile-show{
        display: block;
    }
    
    .image.body-copy-wide.image-fullbleed .image-text{
        margin-left: auto!important;
        margin-right: auto!important;
        z-index: -1;
    }

    .image-item {
        height:auto!important;
        max-height: 375px!important;
    }

    .index-padding{
        padding: 0px 0px!important;
    }



    .index-figure {
        display: block;
        max-width: 375px!important;
        margin-inline-start: 0!important;
        margin-inline-end: 0!important;
        height: 375px!important;
        max-height: 375px!important;
        text-indent: 0;
    }

    .index-zota{
        margin-inline-start:40px!important;
        margin-inline-end: 40px!important;
    }
    
    figure {
        display: block;
        /*max-width: 375px!important;*/
        margin-inline-start: 0!important;
        margin-inline-end: 0!important;
        text-indent: 0;
    }

    .post:last-of-type{
        margin-bottom: 60px;
    }

    .pagebody-content, .hero-headline, footer{
        margin-left: auto!important;
        margin-right: auto!important;
        width: 87.5%!important;
    }

    h2.index-title {
        font-size: var(--font-medium-large)
    }

    h2.resource-title {
        font-size: var(--font-moderately-large);
        text-align: center;
    }

    .resource-text{
        margin: 0 0 1em;
    }

    .bottom-nav {
        display: inline-block;
        cursor: pointer;
      }
      
      .topbar, .bottombar {
        width: 24px;
        height: 3px;
        background-color: var(--color-text);
        margin: 6px 0;
        transition: 0.4s;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
         -ms-transition: all 200ms ease-in-out;
          -o-transition: all 200ms ease-in-out;
             transition: all 200ms ease-in-out;
      }
      
      .topbar{
      top: 6px;
      }
      
      .bottombar{
      top: 15px;
      }
      
      .menu_cross .topbar {
        -webkit-transform: rotate(-44deg) translate(-3px, 3.5px);
        transform: rotate(-44deg) translate(-3px, 3.5px);
      }
      
      .menu_cross .bottombar {
        -webkit-transform: rotate(45deg) translate(-3px, -3px);
        transform: rotate(45deg) translate(-3px, -3px);
      }

      .sandwich {
        display: inline-block;
        display: flex;
        align-items: center;
        padding-left: 6.25%;
        padding-right: 6.25%;
      }

      .bottomnav {
        display: flex;
        max-width: var(--max-width);
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #FAFAFA;
        position: fixed;
        bottom: 0px;
        margin-bottom: -257.5px;
        width: 100%;
        border-radius: 12px 12px 0 0;
        z-index: 1;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
         -ms-transition: all 200ms ease-in-out;
          -o-transition: all 200ms ease-in-out;
             transition: all 200ms ease-in-out;
      }

      .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 6px;
      }

      .menu_open {
          display: flex;
          margin-bottom: 0px;
      }

      .menu a {
        padding: 17.5px;
        width: 100%;
        text-align: center;
        color: var(--color-text);
      }

      .logo {
        padding-left: 10px;
        padding-right: 24px;
        padding-top: 9px;
        padding-bottom: 9px;
        line-height: 0;
        display: flex;
        align-items: center;
      }

}









/* GRID CONTAINER */


figure {
    height: 100%;
}

.post a{
    text-decoration:none!important;
    color: var(--color-text);
}


    .index-item-image-wrapper {
        margin:0!important;
        border-radius: 8px 8px 0 0;
    }



    .index-grid {
        /* display: grid;
        grid-template-columns: 1fr 2fr; */
        margin: 30px 0px;
    }

    .more-btn {
        cursor: pointer;
        font-size: var(--font-medium);
        background: rgba(0, 0, 0, 0.05);
        border-radius: 50px;
        display: inline-block;
        position: relative;
        height: 42px;
        line-height: 42px;
        padding: 0px 24px;
        margin: 0;
        margin-bottom: 48px;
        vertical-align: text-top;
        opacity: 1;
        /*transform: scale(.9);*/
        transition: 150ms all cubic-bezier(.2, .8, .4, 1);
    }
    
    .more-btn:hover {
        background: rgba(0, 0, 0, 0.1);
    }

    blockquote:before {
            content: '“';
            position: absolute;
            margin-left: -.4em;
    }

  @media screen and (max-width: 735px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr);
    }

    .index-grid {
        display: block;
        margin: 10px 10px;
        background: #ffffff;
        box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
        border-radius: 8px;
        }

        .index-text{
            padding: 16px;
            border-radius: 8px;
        }

        .index-text p:nth-child(2) {
            margin: 0;
            padding: 12px 0;
        }

    blockquote{
    margin-inline-start: 24px;
    margin-inline-end: 24px;
    }

    .mobile-transition-underline{
        background-image: linear-gradient(120deg, var(--color-accent-green) 0%, var(--color-accent-blue) 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.3em;
        background-position: 0 100%;
        transition: background-size 0.25s ease-in-out;
    }
    
    .post:hover .mobile-transition-underline{
        background-size: 100% 100%;
    }
}

/* Underline */

.underline {
	background-image: linear-gradient(120deg, var(--color-accent-green) 0%, var(--color-accent-blue) 100%);
	background-repeat: no-repeat;
	background-size: 100% 0.2em;
	background-position: 0 88%;
	transition: background-size 0.25s ease-in;
}
.underline:hover{
	background-size: 100% 88%;
}

.full-underline{
    background-image: linear-gradient(120deg, var(--color-accent-green) 0%, var(--color-accent-blue) 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
	background-position: 0 100%;
	transition: background-size 0.25s ease-in-out;
}

.transition-underline{
    background-image: linear-gradient(120deg, var(--color-accent-green) 0%, var(--color-accent-blue) 100%);
    background-repeat: no-repeat;
	background-size: 100% 0.2em;
	background-position: 0 100%;
	transition: background-size 0.25s ease-in-out;
}

.post:hover .transition-underline{
    background-size: 100% 100%;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }

.videoWrapper iframe,
.videoWrapper embed,
.videoWrapper object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
footer > a:hover {
	text-decoration: none!important;
}
*/

footer > a > svg {
    top: .25em;
    position: relative;
    width:24px;
    height:24px
}