a:hover {
    cursor: pointer;
    text-decoration: underline!important;
}

a:link, a:visited {
    text-decoration: none;
}

a {
    color: #0070c9;
}

body{
	margin:40px auto;
	max-width:571px;
	line-height:1.6;
	font-size:18px;
	color: #454545;
    padding:0 0px;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:#f2f2f2;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
	
h1,h2,h3{
	line-height:1.2;
}

h1{
	margin: 36px auto 24px;
}

h3{
    font-size: 24px;
    line-height: 1.33349;
    font-weight: 600;
    margin-bottom: -2px;
    margin-top: 0px;
}

.hero-headline{
	font-size: 48px;
    line-height: 1.08365;
    font-weight: 600;
    letter-spacing: -.003em;
}


nav{
	display: flex;
	justify-content: center;
	justify-content: space-around;
	}

.nav-menu a{
	opacity: 1;
    transition: opacity 500ms ease-in 200ms;
	color: #333;
	text-decoration: none!important;
}

.nav-menu a:hover{
	color: #0070C9;
	
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid rgba(51,51,51,0.1);
	margin: 1em 0;
	padding: 0;
}


.pagebody{
	font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
	color: #333;
}



.picture-image{
	display: inline-block;
    width: 100%;
    height: auto;
}



.component.image {
	margin-top: 32px;
	margin-bottom: 32px;
}


.image.image-big {
    min-width: 320px;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    height: 571px;
    max-width:571px;
    /*max-height: 571px;*/
    text-indent: 0;

}

.component {
    width: 571px;
    margin-left: auto;
    margin-right: auto;
}

.image-text {
    font-size: 12px;
    line-height: 1.33341;
    font-weight: 400;
    letter-spacing: -.01em;
    color: #333;
    margin: 11px 16px -5px;
    position: relative;
    width: 87.5%;
}

.image.body-copy-wide .image-text {
    margin: 5px 0 -5px;
}

#article {
    height: 70vh;
}

.index-section {

}

.index-item-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.index-title {
    margin:0;
    margin-bottom: 50px;
}

.index-item-logo {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.image-item {
    height: 571px;
    max-height: 571px;
}

.blog-figure {
    display: block;
  /*  margin-block-start: 1em;
    margin-block-end: 1em;
    max-width:571px;
    max-height: 571px;
    */
    text-indent: 0;
    height: auto;
    width: auto;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.index-zota{
    margin-inline-start:40px;
    margin-inline-end: 40px;
}
  
/*
.index-padding{
      padding: 0px 80px;
  }
*/
  .pagebody-content{
    margin-bottom: 55px;
  }

  ul, ol {
    margin-left: 1.17647em;
    padding: 0;
}

.summary-copy {
    font-size: 24px;
    line-height: 1.33349;
    font-weight: 400;
    letter-spacing: .009em;
    margin-bottom: -10px;
    margin-top: -12px;
}

footer {
    font-size: 12px;
    line-height: 1.33341;
    font-weight: 400;
    letter-spacing: -.01em;
}

.mobile-show{
    display:none;
}

.bottomnav {
    display: none;
}

  @media screen and (max-width: 735px) {

 
    .mobile-hide{
        display: none;
    }
    .mobile-show{
        display: inline;
    }

    .hero-headline {
    font-size: 30px;
    line-height: 1.13353;
    font-weight: 600;
    letter-spacing: .006em;
    margin-bottom: 0px;
    }
    
    .image.body-copy-wide.image-fullbleed .image-text{
        margin-left: auto!important;
        margin-right: auto!important;
        z-index: -1;
    }

    .image-item {
        height:auto!important;
        max-height: 375px!important;
    }

    .index-padding{
        padding: 0px 0px!important;
    }



    .index-figure {
        display: block;
        max-width: 375px!important;
        margin-inline-start: 0!important;
        margin-inline-end: 0!important;
        height: 375px!important;
        max-height: 375px!important;
        text-indent: 0;
    }

    .index-zota{
        margin-inline-start:40px!important;
        margin-inline-end: 40px!important;
    }
    
    figure {
        display: block;
        /*max-width: 375px!important;*/
        margin-inline-start: 0!important;
        margin-inline-end: 0!important;
        text-indent: 0;
    }

    .post:last-of-type{
        margin-bottom: 60px;
    }

    .pagebody-content, .hero-headline, footer{
        margin-left: auto!important;
        margin-right: auto!important;
        width: 87.5%!important;
    }


    .index-title {
        margin-top: -9px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        /* width: 87.5%; */
    }

    .summary-copy {
        font-size: 24px;
        line-height: 1.33349;
        font-weight: 400;
        letter-spacing: .009em;
        margin-bottom: -10px;
        margin-top: 12px!important;
    }

    .bottom-nav {
        display: inline-block;
        cursor: pointer;
      }
      
      .topbar, .bottombar {
        width: 24px;
        height: 3px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
         -ms-transition: all 200ms ease-in-out;
          -o-transition: all 200ms ease-in-out;
             transition: all 200ms ease-in-out;
      }
      
      .topbar{
      top: 6px;
      }
      
      .bottombar{
      top: 15px;
      }
      
      .menu_cross .topbar {
        -webkit-transform: rotate(-45deg) translate(-3px, 3px);
        transform: rotate(-45deg) translate(-3px, 3px);
      }
      
      .menu_cross .bottombar {
        -webkit-transform: rotate(45deg) translate(-3px, -3px);
        transform: rotate(45deg) translate(-3px, -3px);
      }

      .sandwich {
        display: inline-block;
        display: flex;
        align-items: center;
        padding-left: 6.25%;
        padding-right: 6.25%;
      }

      .bottomnav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #FAFAFA;
        position: fixed;
        bottom: 0px;
        margin-bottom: -257.5px;
        width: 100%;
        border-radius: 12px 12px 0 0;
        z-index: 1;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
         -ms-transition: all 200ms ease-in-out;
          -o-transition: all 200ms ease-in-out;
             transition: all 200ms ease-in-out;
      }

      .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 17.5px;
      }

      .menu_open {
          display: flex;
          margin-bottom: 0px;
      }

      .menu a {
        padding: 17.5px;
        width: 100%;
        text-align: center;
        color: #333
      }

      .logo {
        padding-left: 10px;
        padding-right: 24px;
        padding-top: 9px;
        padding-bottom: 9px;
        line-height: 0;
        display: flex;
        align-items: center;
      }

}









/* GRID CONTAINER */


figure {
    height: 100%;
}

.post a{
    text-decoration:none!important;
    color: #333;
}


    .index-item-image-wrapper {
        margin:0!important;
    }

    .index-text{
        background: #fff;
        padding: 24px;
    }

    .index-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 20px 0px;
    }

    .index-grid > div:nth-child(2) {
        box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    }

    .more-btn {
        cursor: pointer;
        font-size: 16px;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 50px;
        display: inline-block;
        position: relative;
        height: 42px;
        line-height: 42px;
        padding: 0px 24px;
        margin: 0;
        margin-bottom: 48px;
        vertical-align: text-top;
        opacity: 1;
        /*transform: scale(.9);*/
        transition: 150ms all cubic-bezier(.2, .8, .4, 1);
    }
    
    .more-btn:hover {
        background: rgba(0, 0, 0, 0.1);
    }

    blockquote:before {
            content: '“';
            position: absolute;
            margin-left: -.4em;
    }

  @media screen and (max-width: 735px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr);
    }
    .index-grid {
        display: block;
        margin: 20px 20px;
        }

    h2{
        font-size: 18px;
        padding-bottom: 20px;
    }

    blockquote{
    margin-inline-start: 24px;
    margin-inline-end: 24px;
    }
}

/* Underline */

.underline {
	background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
	background-repeat: no-repeat;
	background-size: 100% 0.2em;
	background-position: 0 88%;
	transition: background-size 0.25s ease-in;
}
.underline:hover{
	background-size: 100% 88%;
}

.full-underline{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
	background-position: 0 100%;
	transition: background-size 0.25s ease-in-out;
}

.transition-underline{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
	background-size: 100% 0.2em;
	background-position: 0 100%;
	transition: background-size 0.25s ease-in-out;
}

.post:hover .transition-underline{
    background-size: 100% 100%;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }

.videoWrapper iframe,
.videoWrapper embed,
.videoWrapper object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
footer > a:hover {
	text-decoration: none!important;
}
*/

footer > a > svg {
    top: .25em;
    position: relative;
    width:24px;
    height:24px
}