---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Get updates" urlPath="/updates/">
  <p><span style="font-size: 12px;">Last Updated: August 08, 2021</span></p>

  <p>Here's a few different ways you can stay up to date.</p>

  <h2>Email Newsletter</h2>
  <p>Sigh.</p>
  <p>
    I had an automated email that would send out weekly updates, but I got excited about putting a
    JavaScript framework everywhere, and got my account suspended until further notice.
  </p>
  <p>
    So, while you can still
    <a href="https://mailchi.mp/fa9e472e92b2/updatesfromlukas">sign up for my email newsletter</a>,
    you likely won't receive any emails for awhile.
  </p>

  <h2>RSS</h2>
  <p>
    Really Simple Syndication (RSS) is like a printed newspaper in text format. It's just a bunch of
    items on a text file.
  </p>
  <p>
    If you use Apple products, I lovingly recommend the free and open source RSS reader,
    <a href="https://netnewswire.com/">NetNewsWire</a>. It's one of my favorite
    <a href="https://lukasmurdock.com/uses">apps that I use</a>.
  </p>
  <p>
    Zapier has <a href="https://zapier.com/blog/best-rss-feed-reader-apps/">a list of rss feed reader apps</a>.
  </p>

  <h3>This Sites RSS Feeds</h3>
  <p>I need to add more feeds, and combine some. For now, here are the feeds I have set up:</p>
  <ul>
    <li><a href="https://lukasmurdock.com/feed">feed</a> - Writing</li>
    <li><a href="https://lukasmurdock.com/aroundtheweb.xml">aroundtheweb</a> - Around the web, (needs to be fixed)</li>
    <li><a href="https://lukasmurdock.com/booklist.xml">booklist</a> - Books I've read and don't want to forget</li>
    <li><a href="https://lukasmurdock.com/knowledge.xml">knowledge</a> - Knowledge</li>
    <li><a href="https://lukasmurdock.com/notes.xml">notes</a> - Like subscribing to my own personal twitter</li>
  </ul>

  <h4>Other RSS feeds</h4>
  <ul>
    <li><a href="https://www.sciencedaily.com/newsfeeds.htm">Science Daily</a></li>
    <li><a href="http://www.etymologynerd.com/1/feed">Etymology Nerd</a></li>
    <li><a href="http://feeds.kottke.org/json">Kottke</a></li>
  </ul>

  <h2>Now</h2>
  <p>
    Hopefully, I continue to update
    <a href="https://lukasmurdock.com/now">my now page</a> with what I'm focused on at this point in
    my life.
  </p>
</BaseLayout>
