---
layout: default
title: Alive time
description: Where I pushed myself to learn and act every day.
---

<style>
  a:hover {
    color: #0070c9 !important;
  }

  h1{
    text-align: center;
    margin-bottom: 0;
  }
  .sticky {
    /* width: 100%; */
    /* height: 45px; */
    position: sticky;
    position: -webkit-sticky;
    box-sizing: border-box;
    top: 10px;
    margin: 20px 0px 12px 0;
    display: block;
  }

  .sticky p {
    display: inline-block;
    margin: 0;
    background-color: #333333;
    padding: 10px 20px;
    border-radius: 12px;
    box-sizing: border-box;
    color: #f5f5f7;
    font-weight: 800;
  }

  button{
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    color: var(--color-text);
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    background: rgba(233, 233, 234);
    font-weight: 600;
    font-size: var(--font-reg);
  }

  button:hover {
    background: rgba(230, 230, 231);
    cursor: pointer;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0 0 20px 0;
    border-radius: 12px;
    width: 80%;
    max-height: 60vh;
    overflow: scroll;
    max-width: 571px;
  }

  .closeBlock{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 40px;
    /* background: #fefefe; */
    background: rgba(0, 0, 0, 0.1);
    text-align: right;
  }

  .close {
    color: #333333;
    font-size: 28px;
    font-weight: bold;
    padding: 10px 20px;
  }

  .close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content a {
    display: block;
    padding: 10px 20px;
  }

  .dateLink:not(:first-of-type) {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .dateLink:focus {
    background: rgba(0, 0, 0, 0.05);
  }

  .dateLink:hover{
    background: rgba(0, 0, 0, 0.05);
  }

</style>

<p style="margin-top:2px; text-align:center;">{{page.description}}</p>

<div class="pagebody-content">
  <div style="text-align: center;">
    <a style="margin-bottom: 10px; color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="more-btn" href="{{ '/resources/' | prepend: site.baseurl }}">View all resources</a>
    <br />
  </div>
  
  <div id="myModal" class="modal">
  <div class="modal-content">
    <div class="closeBlock">
      <span class="close" onclick="closeModel()">&times;</span>
    </div>

    
    {% assign aliveTimebyYear = site.data.alivetime.records | group_by_exp: "item", "item.date | truncate: 4, ''" %}
    {% assign aliveTimebyMonth = aliveTimebyYear | group_by_exp: "item", "item.date | truncate: 7, ''" %}
  

    {% for year in aliveTimebyYear %}
    {% assign byMonth = year.items | group_by_exp: "item", "item.date | truncate: 7, '' | append: '-01'" %}
      {% for month in byMonth %}
        <a class="dateLink" tabindex="0" id="menu-{{ month.name | date: '%B'}}-{{ year.name }}" href="#{{ month.name | date: '%B'}}-{{ year.name }}" onclick="closeModel()">{{ month.name | date: "%B"}} {{ year.name }}</a>
      {% endfor %}
    {% endfor %}

  </div>
</div>


<div class="grid-container">
{% for year in aliveTimebyYear %}
  <h1>{{ year.name }}</h1>

  {% assign byMonth = year.items | group_by_exp: "item", "item.date | truncate: 7, '' | append: '-01'" %}

    {% for month in byMonth %}
    <div class="grid-item">
      <div class="sticky">
      <a href="#{{ month.name | date: '%B'}}-{{ year.name }}"><p id="{{ month.name | date: '%B'}}-{{ year.name }}">{{ month.name | date: "%B"}} {{ year.name }}</p></a>
      <button goto="{{ d.Date | slugify }}" id="button-{{ d.Date | slugify }}" onclick="dateClick(this)">Select Date</button>
    </div>
      <ol style="list-style: none;" class="zero-margin">
      {% for day in month.items %}
        <h2>{{ day.date | date: "%B %d" }}</h2>
        {% for task in day.fields %}
          <li>
            <h3 id="{{ link.Title | slugify }}" class="item zero-margin">{{ task.Name }}</h3>
            <p style="margin-top:0;"><i>{{ task.Description }}</i></p>
            <p style="margin-top:0;">{{ task.Category }}</p>
            <p style="margin-top:0;">{{ task.Tags | join: ", " }}</p>
            <p style="margin-top:0;">{{ task.dateAdded | date: "%H:%M %p"}} — {{ task.dateCompleted | date: "%H:%M %p"}}</p>
          </li>
        {% endfor %}
      {% endfor %}
    </ol>
    {% endfor %}

{% endfor %}
</div>




<script>

    var modal = document.getElementById("myModal");
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    function dateClick(dateClicked) {
      console.log(dateClicked);
      modal.style.display = "block";
      console.log(dateClicked.getAttribute("goto"));
      // menu-dateClicked.getAttribute("goto")
      // document.getElementById(`menu-${dateClicked.getAttribute("goto")}`).scrollIntoView();
      document.getElementById(`menu-${dateClicked.getAttribute("goto")}`).focus();
      console.log(document.getElementById(`menu-${dateClicked.getAttribute("goto")}`));
    }

    function closeModel() {
      modal.style.display = "none";
    }


    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>