---
layout: default
title: Around the web
description: Links I really don't want to forget.
last_modified_at: 2020-09-21
---

<style>
  a:hover {
    color: #0070c9 !important;
  }

  h1{
    text-align: center;
    margin-bottom: 0;
  }
  .date {
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 10px;
  background-color: #333333;
  padding: 10px 20px;
  border-radius: 12px;
  box-sizing: border-box;
  color: #f5f5f7;
  font-weight: 800;
  }
</style>

<script>
  function getRandomInt(max) {
    return Math.floor(Math.random() * Math.floor(max));
  }
  
    function randomResource() {
      var resourceData = {{ site.data.links.linkslist | jsonify }};
      console.log(resourceData.length);
      resourceDate = getRandomInt(resourceData.length);
      console.log(resourceData[resourceDate]);
      resourceSelectionNumber = getRandomInt(resourceData[resourceDate]["Links"].length);
      resourceSelection = resourceData[resourceDate]["Links"][resourceSelectionNumber]["Link"];
      window.open(resourceSelection, '_blank').focus();
    }
  </script>

<p style="margin-top:2px; text-align:center;">Links I really don't want to forget.</p>

<div class="pagebody-content">
  <div style="text-align: center;">
    <a style="margin-bottom: 10px; color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="more-btn" href="{{ '/resources/' | prepend: site.baseurl }}">View all resources</a>
    <br />
    Wow, that’s a lot! <a style="margin-bottom: 10px;" href="#" onclick="randomResource()">Give me something random!</a>
  </div>
  

  <div class="grid-container">
    {% for d in site.data.links.linkslist %}
    <div class="grid-item">
      <a href="#{{ d.Date | slugify }}"><p class="date" id="{{ d.Date | slugify }}">{{ d.Date }}</p></a>
      <ol style="list-style: none;" class="zero-margin">
        {% for link in d.Links %}
        <li>
          <a style="color: #333; text-decoration:none!important;" class="item" target="_blank" href="{{ link.Link }}"
            rel="noopener">
            <h2 class="item zero-margin">{{ link.Title }}</h2>
              <p style="margin-top:0; margin-bottom: 30px;"><i>{{ link.Comment }}</i></p>
          </a>
        </li>
        {% endfor %}
      </ol>
    </div>
    {% endfor %}
  </div>
</div>