---
layout: none
title: Lukas Murdock
description: This is the home page of Lukas Murdock, designer and marketer trying to do work that matters for people who care.
last_modified_at: 2020-02-07
---
<!DOCTYPE html>
<html lang='en'>

{% include head.html %}

<body class="pagebody">


    {% include analytics.html %}
	{% include header.html %}
	<main style="margin: 20px auto 40px auto;
	max-width: var(--max-width);
	line-height: 1.47059;
	font-weight: 400;
	letter-spacing: -.022em;
	color: var(--color-text);">

	<div style="margin-left: auto!important; margin-right: auto!important; width: 87.5%!important; margin-top: 60px; margin-bottom: 30px;">
		<h1 style="font-size: 2.5rem; text-align: left; margin: 0; padding-bottom: 10px;">Hello, I’m Lukas.</h1>
		<p style="margin: 0; font-size: 1.0625rem;">I’m currently exploring design, development, and marketing.</p>
	</div>




	<figure style="margin: 0;">
		<img src="/images/LM-portrait.jpg" alt="Lukas-Murdock-Portrait">
		<figcaption>Hey, nice to meet you. My name is Lukas Murdock — a human trying to do work that matters for people who care.</figcaption>
	</figure>

	<div class="mobile-margin">

		
		<h2>Links</h2>
		<p><a href="{{site.baseurl}}/writing/">&#9997;&#65039;&nbsp;&nbsp;Writing</a></p>
		<p><a href="{{site.baseurl}}/resources/">🔑&nbsp;&nbsp;Resources</a></p>
		<p><a href="{{site.baseurl}}/aroundtheweb/">🌐&nbsp;&nbsp;Around the web</a></p>
		<p><a href="{{site.baseurl}}/booklist/">📚&nbsp;&nbsp;Book list</a></p>
		<p><a href="{{site.baseurl}}/principles/">🔰&nbsp;&nbsp;Principles</a></p>


		
		<h2>About</h2>
		<a href="/about-this-website/">How I built this site and what runs it.</a>
		<p>I’ve been building websites and coding since 2007, designing identities since 2017, and marketing since 2018. Yes, you can call me young, I won’t be offended. I was born and raised by the web. I’m passionate about crafting better experiences and finding ways to make tasks more efficient.</p>
		<p>I balance school, running, and work with taking time to enhance my skills. Always seeking efficient and cohesive ways to make everything flow together. I enjoy finding points of purposeful function behind ideas and iterating hundreds of times until they are refined into their core function. I don’t see design as a way to create anything you want, instead, I see it as a way to create less, but better.</p>
		<p>Born in 2000 in Ohio - where I still live, I create new solutions with old emotions. Focusing my energy on making change happen through feelings, status, and connection. I do work that matters for people who care.</p>
		<a href="/principles/">“as little design as possible.”</a>

		<h2>Capabilities</h2>				
		<ul>
			<li><strong>Strategy </strong>helps businesses and organizations of all sizes to <a href="/strategy">clarify their purpose, find their voice, understand their customers, and define their goals.</a></li>
		</ul>
		<ul>
			<li><strong>Branding </strong>taps into deeper motivations and values of the customer by <a href="/branding">designing a preferred customer journey that encompasses every touch point.</a></li>
		</ul>
		<ul>
			<li><strong>Digital </strong>provides the space for users and information by <a href="/digital">building intuitive, user focused interfaces specifically for engagement, delight, and clear communication on all devices.</a></li>
		</ul>


	</div>

</main>


{% include footer.html %}

</body>

</html>