---
layout: none
title: Trial Run
description: This page was made specifically for you!
index: noindex
---
<!DOCTYPE html>
<html lang='en'>

{% include head.html %}

<body class="pagebody">


	{% include header.html %}
	<main style="margin: 20px auto 40px auto;
	max-width: var(--max-width);
	line-height: 1.47059;
	font-weight: 400;
	letter-spacing: -.022em;
	color: var(--color-text);">

	<div style="margin-left: auto!important; margin-right: auto!important; width: 87.5%!important; margin-top: 60px; margin-bottom: 30px;">
		<h1 style="font-size: 2.5rem; text-align: left; margin: 0; padding-bottom: 10px;">Hey Adam 👋</h1>
		<p style="margin: 0; font-size: 1.0625rem;">Completed 11:00 AM EST (8:00 AM PST).</p>
	</div>


	<div class="mobile-margin">
		<div class="cardgrid-container">

			  
			  <div class="card-noshadow">
				<div class="resource-text">
					<!-- <span style="font-size: 32px; text-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);">&#9997;&#65039;</span> -->
				  <h2 class="resource-title" >Internal Sheet</h2>
				  <!-- <p style="margin: 0px; color: #1D1D1F; margin-bottom: .75em;">Explore design, development, and marketing.</p> -->
				  <a target="_blank" rel="noopener" href="https://docs.google.com/spreadsheets/d/1bLdtp-YbEKp_tF12li7wQU06tNq2RjKTNycMmvAJ5Hg/edit?usp=sharing">View internal sheet&nbsp;→</a>
				  <svg preserveAspectRatio="xMinYMax meet" width="100%" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<defs>
						<linearGradient spreadMethod="pad" id="orangeGradient" x1="0%" y1="0%" x2="100%" y2="100%">
						<stop offset="0%" style="stop-color:rgb(249,158,60);stop-opacity:1;" />
							<stop offset="100%" style="stop-color:rgb(249,70,67);stop-opacity:1;" />
						</linearGradient>
					</defs>
					<path fill="url(#orangeGradient)" d="M20 6a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V6c0-1.11.89-2 2-2h6l2 2h8m-1 11v-4h-5v-2a1 1 0 011-1 1 1 0 011 1h2a3 3 0 00-3-3 3 3 0 00-3 3v2h-1v4h8z"/>
				</svg>
				</div>
			  </div>

			  <div class="card-noshadow">
				<div class="resource-text">
					<!-- <span style="font-size: 32px; text-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);">&#9997;&#65039;</span> -->
				  <h2 class="resource-title" >External Sheet</h2>
				  <!-- <p style="margin: 0px; color: #1D1D1F; margin-bottom: .75em;">Explore design, development, and marketing.</p> -->
				  <a target="_blank" rel="noopener" href="https://docs.google.com/spreadsheets/d/1wiHBk2iqKvgY8awkrTiR6JhRF8NKxcTLOsDAh1AEJBs/edit?usp=sharing">View external sheet&nbsp;→</a>
				  <svg preserveAspectRatio="xMinYMax meet" width="100%" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<defs>
						<linearGradient spreadMethod="pad" id="blueGradient" x1="0%" y1="0%" x2="100%" y2="100%">
						<stop offset="0%" style="stop-color:rgba(64,58,249);stop-opacity:1;" />
							<stop offset="100%" style="stop-color:rgba(18,16,76);stop-opacity:1;" />
						</linearGradient>
					</defs>
					<path fill="url(#blueGradient)" d="M19 20H4a2 2 0 01-2-2V6c0-1.11.89-2 2-2h6l2 2h7a2 2 0 012 2H4v10l2.14-8h17.07l-2.28 8.5c-.23.87-1.01 1.5-1.93 1.5z"/>
				</svg>
				</div>
			  </div>
			

		</div>

		<h2>Time Breakdown (estimate)</h2>
		<p>&lt; 1 Hour — Reading Guide and Documentation</p>
		<p>1 Hour — Keyword filtering</p>
	

		<h2>Notes, Feedback, and Questions</h2>
		<p><strong>Acknowledging limitations</strong></p>
<ol>
<li>I lack experience with health care, hr, and payroll</li>
<li>Ahrefs account limit of 1,000 rows per export</li>
</ol>
<p>It was harder to bring down the keyword list than I thought. Questions of who we are targeting bogged my mind while trying to filter keywords out.</p>
<p>For example, <strong>how do I know when to filter out keywords that are searching for competitors? Or searches that are potential searches for competitors?</strong> These could be valuable keywords for comparison pages.</p>
<p>Should I leave in “[company] hr” because they might have the same potential, or is that not the intent we’re looking for?</p>
<p><strong>Given vague intent keywords, is it my job to filter intent without knowing who it’s for?</strong></p>
<p>I can filter out clear non-aligned keywords, but for the nuance that you’re looking for, I feel there needs to be a <i>who’s it for</i>.</p>
<p>Otherwise, I’ll have my idea of <i>who’s it for</i> that might be completely different from what you and the client have in mind.</p>
<p>On Ahrefs export, my account is limited to 1,000 keywords. However, I did bring it down to 3,184 keywords within Ahrefs.</p>
<p>I did end up filtering keywords for an hour until I received access to the sheets template.</p>
<p><strong>Is there an ideal range of keyword list length?</strong></p>
<p>The keyword “health care” was giving me a lot of trouble. It has the highest difficulty rating and in trying to make the keyword list shorter, I found myself wanting to remove health care.</p>
<p>Moving to keyword explorer, I paid the $10.72 for credits.</p>
<p>In duplicating for a client version, the guide says to delete all but the keyword sheet. The “Start Here” tab also looks like it should be included though.</p>



	</div>

</main>


</body>

</html>