---
layout: none
title: Loganix Dashboard Feedback
description: Feedback from a first-time buyer in Loganix dashboard.
index: noindex
sitemap: false
---
<!DOCTYPE html>
<html lang='en'>

{% include head.html %}

<body class="pagebody">


	{% include header.html %}
	<main style="margin: 20px auto 40px auto;
	max-width: var(--max-width);
	line-height: 1.47059;
	font-weight: 400;
	letter-spacing: -.022em;
	color: var(--color-text);">

	<div style="margin-left: auto!important; margin-right: auto!important; width: 87.5%!important; margin-top: 60px; margin-bottom: 30px;">
		<h1 style="font-size: 2.5rem; text-align: left; margin: 0; padding-bottom: 10px;">Heyo again 👋</h1>
		<p style="margin: 0; font-size: 1.0625rem;">Feedback from a first-time buyer in Loganix dashboard.</p>
	</div>

	<div class="figure-container">
		<figure class="blog-figure image component image-big image-fullbleed body-copy-wide">
		  <img class="picture-image" src="../images/loganix-starter.png" alt="">
		  <figcaption class="image-text">I’m sorry for everything that comes next.</figcaption>
		</figure>
	</div>


		<h2>Feedback</h2>
		<p>You’re really driving me away from your Monthly Reserve Pool service with the lack of anything where the other two have videos. Give that sucker some color or something.</p>
		
		<div class="figure-container">
			<figure class="blog-figure image component image-big image-fullbleed body-copy-wide">
			  <img class="picture-image" src="../images/contrast-mrp.png" alt="">
			  <figcaption class="image-text">Bam, contrast. And default CSS crimson color, so maybe make it more on-brand.</figcaption>
			</figure>
		</div>
		<p>My site is not formatted for these image sizes… Sorry.</p>

		<p>*Clicks into Guest Post Services*</p>
		<p><strong>Tell me what information you’ll need and the format you want it in.</strong></p>
		<p>I assume you’ll need a domain for your link building services, but I don’t see anywhere to provide it? <em>Am I missing something? Did I do something wrong? What do I need to do? Do I have to purchase and then I’ll be able to give you the link?</em></p>
		<p>You tell me “You can keep the same links and anchor texts, or provide new ones each month.” <em>But where do I give you that information? Is that supposed to already be set up?</em></p>

		<div class="figure-container">
			<figure class="blog-figure image component image-big image-fullbleed body-copy-wide">
			  <img class="picture-image" src="../images/loganix-faq.png" alt="">
			  <figcaption class="image-text">You have an FAQ section, ease any confusion.</figcaption>
			</figure>
		</div>

		<p><em>And you have my name, email, and billing address already on my profile. Why ask again?</em></p>
		<p>*I realize there may be reasons, but the question is still raised.</p>

		<h2>Pixel Fucking Time</h2>
		<div class="figure-container">
			<figure class="blog-figure image component image-big image-fullbleed body-copy-wide">
			  <img class="picture-image" src="../images/top-left-loganix.png" alt="">
			  <figcaption class="image-text">You’re crossing the line here boss. You're—</figcaption>
			</figure>
		</div>
		<div class="figure-container">
			<figure class="blog-figure image component image-big image-fullbleed body-copy-wide">
			  <img class="picture-image" src="../images/top-left-logo.png" alt="">
			  <figcaption class="image-text">FTFY.</figcaption>
			</figure>
		</div>

		<h2>Confusion</h2>
		<p></p>
		<div class="figure-container">
			<figure class="blog-figure image component image-big image-fullbleed body-copy-wide">
			  <img class="picture-image" src="../images/mixed-intent.png" alt="">
			  <figcaption class="image-text">This is some blended-ass intent. I’m hearing “Add to cart” and seeing “Learn more”.</figcaption>
			</figure>
		</div>

		<div class="figure-container">
			<figure class="blog-figure image component image-big image-fullbleed body-copy-wide">
			  <img class="picture-image" src="../images/split-intent.png" alt="">
			  <figcaption class="image-text">Apple uses two links for two intents.</figcaption>
			</figure>
		</div>

		<p>Maybe create an entire section for explaining, cross-selling, and promoting all your services.</p>
		<p>Here’s how that might look in the sidebar.</p>

		<div class="figure-container">
			<figure class="blog-figure image component image-big image-fullbleed body-copy-wide">
			  <img class="picture-image" src="../images/explore-services.png" alt="">
			  <figcaption class="image-text">Everyone together now.</figcaption>
			</figure>
		</div>

		<p>I’ll leave the shopping cart text up to you.</p>
		<p>It’s time to get back to work.</p>
		


</main>


</body>

</html>