---
layout: none
title: Madison
description: Boop.
index: noindex
sitemap: false
---
<!DOCTYPE html>
<html lang='en'>

{% include head.html %}

<body class="pagebody">


	{% include header.html %}
	<main style="margin: 20px auto 40px auto;
	max-width: var(--max-width);
	line-height: 1.47059;
	font-weight: 400;
	letter-spacing: -.022em;
	color: var(--color-text);">

	<div style="margin-left: auto!important; margin-right: auto!important; width: 87.5%!important; margin-top: 60px; margin-bottom: 90px;">
		<h1 style="font-size: 2.5rem; text-align: left; margin: 0; padding-bottom: 10px;">Heyo 👋</h1>

	<p>Don’t feel pressured to read all of these or even click on each link.</p>

	<p>This is about finding and exploring <em>what you want to do right now.</em></p>

	<p>It’s easier to favor your present self at the expense of your future self. Or in other words, it’s much easier to eat some more cake, start another TV series, stay up late, or procrastinate than it is to do work that benefits your future self.</p>

	<p>So do your best to spend your time in a way that benefits your future self.</p>

	<p>You can still watch your shows and do whatever you do, but <em>spend just a little bit of time building</em>, and you’ll be ahead of 99 percent of everyone else.</p>

	<p>Maybe even decide to read a few books about something you’re interested in.</p>

	<p>Often, there’s no way to tell if what you’re doing will help you in the future.</p>

	<p>And it’s up to you to explore.</p>

	<hr>
	<p><strong>The means of learning are abundant; the desire to learn is scarce.</strong> We need you to connect. We need you to lead. To do work that matters for people who care. We need you to want something more.</p>

	<p>Become someone who learns on their own rather than needing someone else to tell you.</p>

	<p>We need you to do work without a map. Learn as you go, but go.</p>


	<h2>There are other young people building. You don’t need permission to build.</h2>
	<p><strong>16 year old: </strong><a href="https://albyvar.github.io/" target="_blank" rel="noopener">iOS Developer | Hackintosh expert | Fl Studio producer</a></p>
	<p><strong>15 year old: </strong><a href="https://littlemountainman.github.io/" target="_blank" rel="noopener">Did some wacky stuff with machine learning in GTA</a></p>

	<p><strong>14 year old: </strong><a href="https://littlemountainman.github.io/" target="_blank" rel="noopener">Review on a college level computer science course</a> and for his final project <a href="http://www.dip-lang.org/">he created a programming language…</a></p>

	<p>I can do <strong>none</strong> of the things they do. Age is not a restrictor to making things. Simply start building and document your learnings along the way.</p>

	<p><em>A few things I have built though</em>:<br>
	<a href="https://lukasmurdock.com/" target="_blank" rel="noopener">This site</a> — <a href="https://degreeless.marketing/" target="_blank" rel="noopener">Degreeless.marketing</a> — <a href="https://www.infinitesmiles.com/" target="_blank" rel="noopener">A website for a dental practice</a>.</p>

	<h2>On Understanding</h2>
	<p>→ <a href="https://nabeelqu.co/education" target="_blank" rel="noopener">The fundamental principle of education is to give students an environment, and tools, where they can make discoveries themselves. This requires space, and time, and autonomy.</a></p>
	<p>→ <a href="https://nabeelqu.co/understanding" target="_blank" rel="noopener">How to understand things</a></p>

	<h2>On Building</h2>
	<p>→ <a href="https://tinyprojects.dev/posts/tiny_websites_are_great" target="_blank" rel="noopener">Building tiny websites</a></p>
	<p>→ <a href="https://salman.io/posts/why-bother/" target="_blank" rel="noopener">Why bother?</a></p>
	<p>→ <a href="https://a16z.com/2020/04/18/its-time-to-build/" target="_blank" rel="noopener">It’s time to build</a></p>
	<p>→ <a href="https://www.perell.com/blog/dont-go-to-college-this-fall" target="_blank" rel="noopener">Use your time to build</a></p>
	<p>→ <a href="https://twitter.com/peeplaja/status/1271148884824391683" target="_blank" rel="noopener">Dream bigger and be more ambitious</a></p>

	<h2>On (No)Coding</h2>
	<p>→ <a href="https://daedtech.com/dont-learn-to-code-learn-to-automate/" target="_blank" rel="noopener">Don’t learn to code — learn to automate</a></p>

	<p>→ <a href="https://www.nocode.tech/" target="_blank" rel="noopener">NoCode 3.0</a></p>

	<p>→ <a href="https://www.makerpad.co/" target="_blank" rel="noopener">Create software without writing code.</a></p>

	<hr>
	<p>Whatever it is, go find it. It’s up to you.</p>
</div>
</main>


</body>

</html>