---
layout: default
title: Principles
description: Designer Principles — We can use the internet to explore the places that we know we should be exploring.
last_modified_at: 2020-01-10
---

<style>

  h1 {
    text-align: center;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px;
  }

  .grid-item {
    padding: 5px;
    font-size: 14px;
  }
  h2{
    font-size: 22px;
    padding-left: 20px;
  }
  img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    margin-top: 2px;
    float: left;
  }
  .grid-item {
    counter-reset: dopeCounter;
    position: relative;
  }
  ol {
    list-style: none; counter-reset: li;
    margin-left: 0;
    padding-left: 20px;
  }
  
  li::before {
    counter-increment: dopeCounter 1;
    content: counter(dopeCounter,decimal-leading-zero);
    position: absolute;
    left: 0px;
    font-size: 13px;
    padding-top: 5px;
    width: 25px;
    height: 25px;
    color: #707070;
  }
  
  p.item {
      width: 100%;
      padding: 2px 0;
      padding-top: 3px;
      border-top: 1px solid rgba(0,0,0,.07);
      color: #000;
      display: inline-block;
      margin: 0;
  }
  @media screen and (max-width: 735px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr);
    }
}
</style>

<p style="text-align:center; margin-top: 0;">Mental models and new ways to think.</p>

<div class="pagebody-content">
    <div style="text-align: center;">
        <a style="margin-bottom: 10px; color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="more-btn" href="{{ '/resources/' | prepend: site.baseurl }}">View resources</a>
        <a style="margin-bottom: 10px; color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="more-btn" href="{{ '/booklist/' | prepend: site.baseurl }}">View book list</a>
        <a style="margin-bottom: 10px; color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="more-btn" href="{{ '/aroundtheweb/' | prepend: site.baseurl }}">View around the web</a>
      </div>

  <div class="grid-container">
    {% for d in site.data.principles.principlelist %}
    <div class="grid-item">
      <h2>{{ d.Title }}</h2>
      
        <ol>
          {% for list in d.Principles %}
          <li>
            <p class="item">{{ list.list }}</p>
          </li>
          {% endfor %}
          </ol>
    </div>
    {% endfor %}
  </div>
  </div>
</div>


  <div class='o-grid'>
    {% include pagination.html %}
  </div>
</div>