---
layout: default
title: Resources
description: Designer Resources — We can use the internet to explore the places that we know we should be exploring.
---

<style>
  h1{
    text-align: center;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
  }

  .grid-item {
    padding: 5px;
    font-size: 14px;
  }
  h3{
    font-size: 22px;
    padding-left: 20px;
    text-align:left;
  }
  img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    margin-top: 2px;
    float: left;
  }
  .grid-item {
    counter-reset: dopeCounter;
    position: relative;
  }
  ol {
    list-style: none; counter-reset: li;
    margin-left: 0;
    padding: 0;
  }
  /*
  li::before {
    counter-increment: dopeCounter 1;
    content: counter(dopeCounter,decimal-leading-zero);
    position: absolute;
    left: 0px;
    font-size: 13px;
    padding-top: 5px;
    width: 25px;
    height: 25px;
    color: #707070;
  }
  */
  .link{
    text-align:center;
  }

  a.item {
      width: 100%;
      padding: 2px 0;
      padding-top: 3px;
      border-top: 1px solid rgba(0,0,0,.07);
      color: #000;
      display: inline-block;
      text-align:left;
  }

  .pagebody-content{
    text-align:center;
  }

  #tooltip {
    width: 235px!important;
    text-align: center;
    color: #fff;
    background: #121212;
    position: absolute;
    z-index: 100;
    padding: 14px;
    border-radius: 8px;
}
 
    #tooltip:after /* triangle decoration */ {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #121212;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;
    }
 
        #tooltip.top:after {
            border-top-color: transparent;
            border-bottom: 10px solid #121212;
            top: -20px;
            bottom: auto;
        }
 
        #tooltip.left:after {
            left: 10px;
            margin: 0;
        }
 
        #tooltip.right:after {
            right: 10px;
            left: auto;
            margin: 0;
        }


  @media screen and (max-width: 735px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr);
    }
    h1{
      font-size: 44px!important;
      padding-bottom: 20px;
    }

    a.item{
      padding: 14px 0;
    }
}

</style>

<p style="text-align:center; margin-top: 0;">Places I love to explore.</p>

<div class="pagebody-content">
    <a style="margin-bottom: 10px; color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="more-btn" href="{{ '/principles' | prepend: site.baseurl }}">View principles</a>
    <a style="margin-bottom: 10px; color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="more-btn" href="{{ '/booklist' | prepend: site.baseurl }}">View book list</a>
    <a style="margin-bottom: 10px; color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="more-btn" href="{{ '/aroundtheweb' | prepend: site.baseurl }}">View around the web</a>

  <div class="grid-container">
    {% for d in site.data.resources.fulldata %}
    <div class="grid-item">
        <h3>{{ d.Type }}</h3>
        <ol>
          {% for Title in d.List %}
          <li title="{{ Title.Comment }}" rel="tooltip">
            <a class="item" target="_blank" href="{{ Title.Link }}" rel="noopener">
              <img alt="{{ Title.Link }}" src="https://s2.googleusercontent.com/s2/favicons?domain_url={{ Title.Link }}">
              {{ Title.Title }}
            </a>
          </li>
          {% endfor %}
        </ol>
    </div>
    {% endfor %}
  </div>
</div>

<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script>


$( function()
{
    var targets = $( '[rel~=tooltip]' ),
        target  = false,
        tooltip = false,
        title   = false;
 
    targets.bind( 'mouseenter', function()
    {
        target  = $( this );
        tip     = target.attr( 'title' );
        tooltip = $( '<div id="tooltip"></div>' );
 
        if( !tip || tip == '' )
            return false;
 
        target.removeAttr( 'title' );
        tooltip.css( 'opacity', 0 )
               .html( tip )
               .appendTo( 'body' );
 
        var init_tooltip = function()
        {
            if( $( window ).width() < tooltip.outerWidth() * 1.5 )
                tooltip.css( 'max-width', $( window ).width() / 2 );
            else
                tooltip.css( 'max-width', 340 );
 
            var pos_left = target.offset().left + ( target.outerWidth() / 2 ) - ( tooltip.outerWidth() / 2 )+ 14,
                pos_top  = target.offset().top - tooltip.outerHeight() - 20;
 
            if( pos_left < 0 )
            {
                pos_left = target.offset().left + target.outerWidth() / 2 - 20;
                tooltip.addClass( 'left' );
            }
            else
                tooltip.removeClass( 'left' );
 
            if( pos_left + tooltip.outerWidth() > $( window ).width() )
            {
                pos_left = target.offset().left - tooltip.outerWidth() + target.outerWidth() / 2 + 20;
                tooltip.addClass( 'right' );
            }
            else
                tooltip.removeClass( 'right' );
 
            if( pos_top < 0 )
            {
                var pos_top  = target.offset().top + target.outerHeight();
                tooltip.addClass( 'top' );
            }
            else
                tooltip.removeClass( 'top' );
 
            tooltip.css( { left: pos_left, top: pos_top } )
                   .animate( { top: '+=10', opacity: 1 }, 50 );
        };
 
        init_tooltip();
        $( window ).resize( init_tooltip );
 
        var remove_tooltip = function()
        {
            tooltip.animate( { top: '-=10', opacity: 0 }, 50, function()
            {
                $( this ).remove();
            });
 
            target.attr( 'title', tip );
        };
 
        target.bind( 'mouseleave', remove_tooltip );
        tooltip.bind( 'click', remove_tooltip );
    });
});
</script>