---
layout: default
title: Resources
description: Brand Strategy Design Consultant. Helping align the goals of organization to the needs of their customers— creating exceptional brand experiences.
---

<style>
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0px;
  }
  .grid-item {
    padding: 0px;
  }
</style>

<ul>
    {% for d in site.data.resources.Categories %}
      <li>
        <a href="{{ d.Link }}">
          {{ d.Title }}
        </a>
      </li>
    {% endfor %}
    </ul>

<div class="grid-container">
  <div class="grid-item">
    <h3>Applications</h3>
    <ul>
      {% for d in site.data.resources.Applications %}
        <li>
          <a href="{{ d.Link }}">
            {{ d.Title }}
          </a>
        </li>
      {% endfor %}
      </ul>
  </div>
  <div class="grid-item">
      <h3>Websites</h3>
      <ul>
        {% for d in site.data.resources.Websites %}
          <li>
            <a href="{{ d.Link }}">
              {{ d.Title }}
            </a>
          </li>
        {% endfor %}
        </ul>
    </div>
    <div class="grid-item">
        <h3>Software</h3>
        <ul>
          {% for d in site.data.resources.Software %}
            <li>
              <a href="{{ d.Link }}">
                {{ d.Title }}
              </a>
            </li>
          {% endfor %}
          </ul>
      </div>
      <div class="grid-item">
          <h3>Chrome Add-ons</h3>
          <ul>
            {% for d in site.data.resources.Chrome_addons %}
              <li>
                <a href="{{ d.Link }}">
                  {{ d.Title }}
                </a>
              </li>
            {% endfor %}
            </ul>
        </div>
</div>


  <div class='o-grid'>
    {% include pagination.html %}
  </div>
</div>