---
layout: default
title: Updates
description: Brand Strategy Design Consultant. Helping align the goals of organization to the needs of their customers— creating exceptional brand experiences.
---

<style>
img{
  max-width: 100%;
}

.book_container{
  width: 80px;
  height: auto;
  margin-right: 24px;
  float: left;
  margin-bottom: 24px;
}

.post{
  clear: both;
}

.library_container{
  clear: both;
}

</style>

<div class="pagebody-content">
<h2 style="padding:0;">Currently Reading</h2>
<div class="library_container">
	<div class="book_container">
		<a title="Permanant Record" rel="nofollow" href="https://www.goodreads.com/book/show/46223297-permanent-record">
			<img alt="" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1564666396l/46223297.jpg">
    </a>
  </div>
  <div class="book title">
    <a rel="nofollow" href="https://www.goodreads.com/book/show/46223297-permanent-record">Permanent Record</a>
  </div>
  <div class="book_author">by Edward Snowden</a>
  </div>
</div>

<div class="library_container">
	<div class="book_container">
		<a title="Talking to Strangers" rel="nofollow" href="https://www.goodreads.com/book/show/43848929-talking-to-strangers">
			<img alt="" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1549393502l/43848929.jpg">
    </a>
  </div>
  <div class="book title">
    <a rel="nofollow" href="https://www.goodreads.com/book/show/43848929-talking-to-strangers">Talking to Strangers: What We Should Know about the People We Don't Know</a>
  </div>
  <div class="book_author">by Malcolm Gladwell</a>
  </div>
</div>
</div>

    {% for post in site.posts %}
      {% include post-card.html %}
    {% endfor %}

