---
layout: default
title: Video Resources
description: Video resources from Lukas Murdock.
last_modified_at: 2020-09-21
sitemap: false
index: noindex
---

<style>
  a:hover {
    color: #0070c9 !important;
  }

  h1{
    text-align: center;
    margin-bottom: 0;
  }
</style>


<p style="margin-top:2px; text-align:center;">A video-only list of resources from around the web and knowledge.</p>

<div class="pagebody-content">
  <div style="text-align: center;">
    <a style="margin-bottom: 10px; color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="more-btn" href="{{ '/resources/' | prepend: site.baseurl }}">View all resources</a>
  </div>
  

  <div class="grid-container">
    <div class="grid-item">
      <ol style="list-style: none;" class="zero-margin">
    {% for d in site.data.links.linkslist %}
 
        {% for link in d.Links %}
        {% if link.Media == "video" %}
        <li>
          <a style="color: #333; text-decoration:none!important;" class="item" target="_blank" href="{{ link.Link }}"
            rel="noopener">
            <h2 class="item zero-margin">{{ link.Title }}</h2>
              <p style="margin-top:0; margin-bottom: 30px;"><i>{{ link.Comment }}</i></p>
          </a>
        </li>
        {% endif %}
        {% endfor %}
    {% endfor %}


    {% for d in site.data.resources.fulldata %}
    {% for Title in d.List %}
    {% if Title.Media == "video" %}
    <li>
      <a style="color: #333; text-decoration:none!important;" class="item" target="_blank" href="{{ Title.Link }}"
        rel="noopener">
        <h2 class="item zero-margin">{{ Title.Title }}</h2>
          <p style="margin-top:0; margin-bottom: 30px;"><i>{{ Title.Comment }}</i></p>
      </a>
    </li>
    {% endif %}
    {% endfor %}
    {% endfor %}

  </ol>
</div>


  </div>
</div>