<script type="application/ld+json">
    {
      "@context": "http://www.schema.org",
      "@graph":
      [
        {
          "@context": "https://schema.org/",
          "@type": "WebPage",
          "name": "Lukas Murdock",
          "speakable": {
              "@type": "SpeakableSpecification",
              "cssSelector": [
                  "#SpeakableHeadline",
                  "#SpeakableSummary"
              ]
          },
          "url": "{{page.url | prepend: site.url }}"
        },
        {
            "@context":"http://schema.org",
            "@type":"Person",
            "familyName":"Murdock",
            "givenName":"Lukas",
            "url":"https://lukasmurdock.com",
            "email":"lukas.murdock@gmail.com",
            "birthDate":"2000-12-09",
            "gender":"Male",
            "jobTitle":"Designer, Developer, Marketer",
            "image":"https://lukasmurdock.com/images/LM-portrait.jpg",
            "description":"Lukas Murdock is a Designer, Developer, and Marketer doing work that matters for people who care.",
                "sameAs": [
                "https://www.linkedin.com/in/lukas-murdock/",
                "https://twitter.com/Lukasauras_Rex",
                "https://github.com/LukasMurdock",
                "https://www.facebook.com/lukas.rex.murdock",
                "https://www.instagram.com/lukasauras.rex/",
                "https://www.youtube.com/channel/UCG8ZhvCtKlnPXkoJG2u52lw"
            ],
            "nationality":"American",
            "worksFor": {
                "@type": "Organization",
                "name": ""
            }   
        },
        {
          "@context": "http://www.schema.org",
          "@type": "WebSite",
          "name": "Lukas Murdock",
          "url": "lukasmurdock.com"
        }
        {% if page.url == "/writing/" %}
        ,
        {
            "@type":"Blog",
            "url":"https://lukasmurdock.com/writing/",
            "headline":"Lukas Murdock Writings",
        {% for post in site.posts %}
            "blogPost":[
                {
                    "@type":"BlogPosting",
                    "headline":"{{ page.title }}",
                    "name":"{{ page.title }}",
                    "url":"{{page.url | prepend: site.url }}",
                    "mainEntityOfPage":"{{page.url | prepend: site.url }}",
                    "dateModified":"",
                    "datePublished":"",
                    "wordCount":"",
                    "author":{
                        "@type":"Person",
                        "name":"Lukas Murdock",
                        "url":"https://lukasmurdock.com",
                        "image":{
                            "@type":"ImageObject",
                            "url":"https://lukasmurdock.com/images/LM-portrait.jpg",
                            "height":1142,
                            "width":762
                        }
                    }
                }
            ]
        {% endfor %}
        }
        {% endif%}
      ]
    }
  </script>
  <!-- END REAL -->
  [{
      {
        "@context":"http://schema.org",
        "@type":"Person",
        "familyName":"Murdock",
        "givenName":"Lukas",
        "url":"https://lukasmurdock.com",
        "email":"lukas.murdock@gmail.com",
        "birthDate":"2000-12-09",
        "gender":"Male",
        "jobTitle":"Designer, Developer, Marketer",
        "image":"https://lukasmurdock.com/images/LM-portrait.jpg",
        "description":"Lukas Murdock is a Designer, Developer, and Marketer doing work that matters for people who care.",
            "sameAs": [
            "https://www.linkedin.com/in/lukas-murdock/",
            "https://twitter.com/Lukasauras_Rex",
            "https://github.com/LukasMurdock",
            "https://www.facebook.com/lukas.rex.murdock",
            "https://www.instagram.com/lukasauras.rex/",
            "https://www.youtube.com/channel/UCG8ZhvCtKlnPXkoJG2u52lw"
        ],
        "nationality":"American",
        "worksFor": {
            "@type": "Organization",
            "name": ""
        }   
      }
    }
]
  <!--  -->
  [{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://www.seofreelance.es\/en\/seo-freelance-spain\/#webpage",
    "inLanguage": "en-US",
    "name": "SEO Freelance Spain",
    "url": "https:\/\/www.seofreelance.es\/en\/seo-freelance-spain\/",
    "lastReviewed": "",
    "reviewedBy": {
        "@type": "Organization",
        "logo": {
            "@type": "ImageObject",
            "url": "",
            "width": "",
            "height": ""
        },
        "name": ""
    },
    "description": "SEO freelance Spain is the personal brand of SEO consultant Ricard Menor, independent professional. SEO consultant Ricard Menor offers consultancy services and SEO outsourcing for the small, medium and large companies, corporations and public institutions.",
    "mainEntity": {
        "@type": "Article",
        "mainEntityOfPage": "https:\/\/www.seofreelance.es\/en\/seo-freelance-spain\/",
        "image": "",
        "headline": "SEO Freelance Spain",
        "description": "SEO freelance Spain is the personal brand of SEO consultant Ricard Menor, independent professional. SEO consultant Ricard Menor offers consultancy services and SEO outsourcing for the small, medium and large companies, corporations and public institutions.",
        "keywords": "",
        "datePublished": "2015-07-25T12:00:54+02:00",
        "dateModified": "2018-03-31T03:35:58+02:00",
        "author": {
            "@type": "Person",
            "name": "seofreelance",
            "description": "",
            "url": ""
        },
        "publisher": {
            "@type": "Organization",
            "logo": {
                "@type": "ImageObject",
                "url": "",
                "width": "",
                "height": ""
            },
            "name": ""
        }
    },
    "speakable": {
        "@type": "SpeakableSpecification",
        "xpath": ["\/html\/head\/title", "\/html\/head\/meta[@name='description']\/@content"]
    }
}
  <!--  -->
  <!--  -->
  {
    "@context": "http://www.schema.org",
    "@type": "WebPage",
    "name": "Degreeless.marketing",
    "alternateName": "Degreeless Marketing",
    "url": "https://degreeless.marketing/"
  },
  {
    "@context": "http://www.schema.org",
    "@type": "person",
    "name": "Lukas Murdock",
    "jobTitle": "Designer, Developer, Marketer",
    "url": "https://lukasmurdock.com/",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Columbus",
      "addressRegion": "Ohio"
    }
  },
  {
    "@context": "http://www.schema.org",
    "@type": "Organization",
    "name": "Degreeless.marketing",
    "url": "https://degreeless.marketing/",
    "logo": "https://degreeless.marketing/assets/images/logo.png",
    "image": "https://degreeless.marketing/assets/images/weblogo.png",
    "description": "Marketing for self-learners."
  }
  <!--  -->
  {
    "@context": "https://schema.org/",
    "@type": "WebPage",
    "name": "Degreeless.Marketing",
    "speakable": {
        "@type": "SpeakableSpecification",
        "cssSelector": [
            "#SpeakableHeadline",
            "#SpeakableSummary"
        ]
    },
    "url": "https://degreeless.marketing/"
  }
  <!--  -->
  { "@context": "http://schema.org",
  "@type": "Organization",
  "name": "Degreeless.marketing",
  "legalName" : "https://degreeless.marketing/",
  "url": "https://degreeless.marketing/",
  "logo": "https://degreeless.marketing/logo.png",
  "foundingDate": "2020",
  "founders":
  {
     "@context": "http://schema.org",
     "@type": "Person",
     "familyName": "Lukas",
     "givenName": "Murdock",
     "url": "https://lukasmurdock.com",
     "email": "lukas.murdock@gmail.com",
     "nationality": "American",
     "birthDate": "12/09/2000",
     "gender": "Male",
     "jobTitle": "Designer, Developer, Marketer",
     "worksFor": {
         "@type": "Organization",
         "name": "Loganix"
     },
     "image": "https://lukasmurdock.com/images/LM-portrait.jpg",
     "description": "Lukas Murdock is a designer, developer, and marketer doing work that matters for people who care.",
     "sameAs": ["https://www.linkedin.com/in/lukas-murdock/", "https://twitter.com/Lukasauras_Rex", "https://github.com/LukasMurdock", "https://www.facebook.com/lukas.rex.murdock", "https://www.instagram.com/lukasauras.rex/", "https://www.youtube.com/channel/UCG8ZhvCtKlnPXkoJG2u52lw"]
  }     
  }
  }
  <!-- SERVICE -->
  {
    "@context": "http://schema.org/",
    "@type": "Service",
    "name": "SEO",
    "sameAs": [
                "https://en.wikipedia.org/wiki/Search_engine_optimization",
                "http://dbpedia.org/page/Search_engine_optimization",
                "http://www.wikidata.org/entity/Q180711"
              ]
  }
  <!--  -->
  {
    "@context": "http://schema.org/",
    "@type": "Service",
    "name": "Marketing",
    "sameAs": [
                "https://en.wikipedia.org/wiki/Marketing",
                "http://dbpedia.org/page/Marketing",
                "https://www.wikidata.org/wiki/Q39809"
              ]
  }
  <!--  -->
  {
    "@context": "http://schema.org/",
    "@type": "Service",
    "name": "Marketing Management",
    "sameAs": [
                "https://en.wikipedia.org/wiki/Marketing_management",
                "http://dbpedia.org/page/Marketing",
                "https://www.wikidata.org/wiki/Q1143466"
              ]
  }
  <!--  -->
  {
    "@context": "http://schema.org/",
    "@type": "Service",
    "name": "Digital Marketing",
    "sameAs": [
                "https://en.wikipedia.org/wiki/Digital_marketing",
                "http://dbpedia.org/page/Digital_marketing",
                "https://www.wikidata.org/wiki/Q1323528"
              ]
  }
  <!--  -->
  {
    "@context": "http://schema.org/",
    "@type": "Service",
    "name": "SEM",
    "sameAs": [
                "https://en.wikipedia.org/wiki/Search_engine_marketing",
                "http://dbpedia.org/page/Search_engine_marketing",
                "http://www.wikidata.org/entity/Q846132",
                "http://yago-knowledge.org/resource/Search_engine_marketing"
              ]
  }
  <!--  -->
  {
    "@context": "http://schema.org/",
    "@type": "Service",
    "name": "SMM",
    "sameAs": [
                "https://en.wikipedia.org/wiki/Social_network_advertising",
                "http://dbpedia.org/page/Social_network_advertising",
                "http://www.wikidata.org/entity/Q7551264",
                "http://yago-knowledge.org/resource/Social_Media_Targeting"
              ]
  }
  <!--  -->
  s:\/\/tldrmarketing.com\/#website","url":"https:\/\/tldrmarketing.com","name":"tl;dr Marketing","potentialAction":{"@type":"SearchAction","target":"https:\/\/tldrmarketing.com\/?s={search_term_string}","query-input":"required name=search_term_string"}},