<footer>
  <a href='https://instagram.com/{{ site.instagram_username }}' target='_blank' rel="noreferrer" aria-label="instagram account link">
    <span style="font-size: 20px;" class="mdi mdi-instagram"></span>
  </a>

  <a href='https://www.twitter.com/{{ site.twitter_username }}' target='_blank' rel="noreferrer" aria-label="twitter account link">
    <span style="font-size: 20px; margin-left:20px;" class="mdi mdi-twitter"></span>
  </a>

  <a href='https://www.linkedin.com/in/{{ site.linkedin_username }}' target='_blank' rel="noreferrer" aria-label="twitter account link">
    <span style="font-size: 20px; margin-left:20px;" class="mdi mdi-linkedin"></span>
  </a>



  <p>&copy; {{ site.time | date: '%Y' }} Lukas Murdock</p>
</footer>