<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.descripion %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"}}>
  <link rel='canonical' href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <meta name="google-site-verification" content="fPk8VHNqhVzOb2qHw5K0bg3w8WrInKiLQeqZBOteVFA" />
</head>