<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <link rel='canonical' href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | downcase}}">
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f94643">
  <meta name="msapplication-TileColor" content="#b91d47">
  <meta name="theme-color" content="#ffffff">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <script type="application/ld+json">
    {
      "@context": "http://www.schema.org",
      "@graph":
      [
      {
        "@type": "WebPage",
        "name": "Lukas Murdock",
        "speakable":
        {
         "@type": "SpeakableSpecification",
         "xpath": [
           "/html/head/title",
           "/html/head/meta[@name='description']/@content"
           ]
         },
        "url": "https://lukasmurdock.com/"
        },
        {
          "@type": "person",
          "name": "Lukas Murdock",
          "url": "https://lukasmurdock.com/",
          "birthDate": "2000-12-09",
          "gender": "male",
          "jobTitle": "Marketing Strategy Consultant",
          "image": "https://lukasmurdock.com/images/LM-portrait.jpg",
          "description": "Lukas Murdock is a human trying to do work that matters. Exploring design, development, and marketing.",
          "sameAs": [
            "https://www.linkedin.com/in/lukas-murdock/",
            "https://twitter.com/Lukasauras_Rex",
            "https://github.com/LukasMurdock",
            "https://www.facebook.com/lukas.rex.murdock",
            "https://www.instagram.com/lukasauras.rex/",
            "https://www.youtube.com/channel/UCG8ZhvCtKlnPXkoJG2u52lw"
            ],
          "email": "lukas.murdock@gmail.com",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Columbus",
            "addressRegion": "Ohio",
            "postalCode": "43035",
            "addressCountry": "USA"
            }
        }

  {% if page.layout == 'post' %}
    ,{% include postSchema.html %}
  {% endif %}
]}
</script>

  <meta name="google-site-verification" content="fPk8VHNqhVzOb2qHw5K0bg3w8WrInKiLQeqZBOteVFA" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155085538-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-155085538-1');
</script> -->
<!-- Global site tag (gtag.js) - Google Analytics -->
  {% if page.code %}
    <style>
    {% include highlight.css %}
    </style>
  {% endif %}
</head>