{
        "@type": "BlogPosting",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://lukasmurdock.com/writing/"
            },
        "headline": "{{ page.title }}",
        "url": "https://lukasmurdock.com/{{ page.url }}",
        "datePublished": "{{ page.date }}",
        "dateModified": "{% if page.last_modified_at %}{{page.last_modified_at}}{% else %}{{page.date}}{% endif %}",
        "image": "{% if page.image %}{{page.image}}{% endif %}",
        "author": {
            "@type": "Person",
            "name": "Lukas Murdock",
            "description": "Lukas Murdock is a human trying to do work that matters for people who care. Exploring design, development, and marketing.",
            "sameAs": [
                "https://www.linkedin.com/in/lukas-murdock/",
                "https://twitter.com/Lukasauras_Rex",
                "https://github.com/LukasMurdock",
                "https://www.facebook.com/lukas.rex.murdock",
                "https://www.instagram.com/lukasauras.rex/",
                "https://www.youtube.com/channel/UCG8ZhvCtKlnPXkoJG2u52lw"
                ],
            "image": {
                "@type": "ImageObject",
                "url": "https://lukasmurdock.com/images/LM-portrait.jpg"
            },
            "givenName": "Lukas",
            "familyName": "Murdock",
            "publishingPrinciples": "https://lukasmurdock.com/",
            "email": {{ site.email | jsonify }}
        },
        "publisher": {
            "@type": "Organization",
            "name": "Lukas Murdock",
            "url": "https://lukasmurdock.com/",
            "logo": {
              "@type": "ImageObject",
              "width": 60,
              "height": 60,
              "url": "https://lukasmurdock.com/android-chrome-512x512.png"
            }
          },
        "description": "{{ page.description }}",
        "articleBody": {{ page.content | strip_html | jsonify }},
        {% if page.tags and page.tags !=  blank %}"keywords": {{ page.tags | join: ',' | jsonify }},{% endif %}
        "wordcount": "{{ page.content | number_of_words }}",
        "inLanguage": "en-US"
        
}