<script type="application/ld+json">
    {
      "@context": "http://www.schema.org",
      "@graph":
      [
        {
          "@context": "https://schema.org/",
          "@type": "WebPage",
          "name": "Lukas Murdock",
          "speakable": {
              "@type": "SpeakableSpecification",
              "cssSelector": [
                  "#SpeakableHeadline",
                  "#SpeakableSummary"
              ]
          },
          "url": "{{page.url | prepend: site.url }}"
        },
        {
            "@context":"http://schema.org",
            "@type":"Person",
            "familyName":"Murdock",
            "givenName":"Lukas",
            "url":"https://lukasmurdock.com",
            "email":"lukas.murdock@gmail.com",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Columbus",
                "addressRegion": "Ohio",
                "postalCode": "43035",
                "addressCountry": "USA"
                },
            "birthDate":"2000-12-09",
            "gender":"Male",
            "jobTitle":"Designer, Developer, Marketer",
            "image":"https://lukasmurdock.com/images/LM-portrait.jpg",
            "description":"Lukas Murdock is a Designer, Developer, and Marketer doing work that matters for people who care.",
                "sameAs": [
                "https://www.linkedin.com/in/lukas-murdock/",
                "https://twitter.com/Lukasauras_Rex",
                "https://github.com/LukasMurdock",
                "https://www.facebook.com/lukas.rex.murdock",
                "https://www.instagram.com/lukasauras.rex/",
                "https://www.youtube.com/channel/UCG8ZhvCtKlnPXkoJG2u52lw"
            ],
            "nationality":"American",
            "worksFor": {
                "@type": "Organization",
                "name": ""
            }   
        },
        {
          "@context": "http://www.schema.org",
          "@type": "WebSite",
          "name": "Lukas Murdock",
          "url": "lukasmurdock.com"
        }
        {% if page.layout == 'post' %}
        ,{% include postSchema.html %}
      {% endif %}
      ]
    }
  </script>