---
import BaseLayout from "@/layouts/BaseLayout.astro";
import FourOhFourSuggestion from "@/components/FourOhFourSuggestion.astro";
---

<BaseLayout title="Page Not Found" description="Sorry, but the page you were trying to view does not exist." noindex={true}>
  <p>Sorry, but the page you were trying to view does not exist.</p>
  <FourOhFourSuggestion />
</BaseLayout>
