---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Now" description="What I'm doing now" urlPath="/now/" icons>
  <p><span style="font-size: 12px;">Last Updated: October 23, 2023</span></p>

  <h2>What is a now page?</h2>
  <p>
    <a href="https://nownownow.com/about"
      >A "now page" tells you what this person is focused on at this point in their life</a
    >.
    Inspired by <a href="https://sive.rs/now">Derek Sivers</a>.
  </p>

  <h2>Working</h2>
  <p>Building Hiking Hawaii.</p>

  <h2>Exploring</h2>
  <p>
    Most of my learning comes from <a href="/aroundtheweb/">wondering around online</a> or
    <a href="/booklist/">diving into books</a>. Who knows where I'll go. Trying to figure out
    what I'm focused on. Working on feeling secure.
  </p>

  <p>
    So much I <a href="/wtl/">want to learn</a> and <a href="/wanttoread/">want to read</a>
    (created <a href="https://library.lukasmurdock.com/bookshelves/To_Read">To Read bookshelf</a>
    in library).
  </p>

  <p>Making my way through</p>
  <ul>
    <li><a href="https://library.lukasmurdock.com/">books</a></li>
  </ul>

  <h2>Running</h2>
  <p>Every so often.</p>

  <h2>Top goal</h2>
  <p>2024-01-07: Get significantly better at extracting knowledge and revealing knowledge.</p>
  <p>
    2023-05-14: <a href="/wtl/">Learn</a>, <a href="/wanttoread/">read</a>, and
    <a href="/why-we-write-2/">write</a>.
  </p>
  <p>
    2023-01-04: Receive bachelor degree (2023-05-14: graduated. See my
    <a href="/college-transcript/">college course list</a>)
  </p>

  <hr />

  <p>Specific areas I want to significantly improve</p>
  <ul>
    <li>Extracting knowledge and revealing knowledge (Cognitive Task Analysis)</li>
    <li>Accelerating expertise / understanding systems</li>
    <li>Software design</li>
  </ul>

  <p>Areas I want to get slightly better at</p>
  <ul>
    <li>Project management</li>
  </ul>

  <p>Areas I want to suck at</p>
  <ul>
    <li>Fashion</li>
    <li>Social media</li>
  </ul>

  <p>Inspired by <a href="https://durmonski.com/self-improvement/1-better-every-day/">Ivaylo Durmonski</a></p>
</BaseLayout>
