---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  title="Work"
  description="Helping businesses stand out, earn more attention, reach more people, and win more business."
  urlPath="/work/"
>
  <p>
    I help businesses stand out, earn more attention, reach more people, and win more business.
  </p>

  <p>
    From collaboratively crafting appropriate, compelling, and beautiful images of brands to
    developing and designing websites.
  </p>

  <p>
    I support every project with careful research and bold iteration, exploring many possibilities
    before arriving at a comprehensive and versatile solution.
  </p>

  <h2>Design</h2>

  <div class="cardgrid-container">
    <div class="card-noshadow">
      <div class="resource-text">
        <h3 class="resource-title">Infinite Smiles</h3>
        <a href="/work/infinite-smiles/">View my work&nbsp;&rarr;</a>
        <img src="/images/work/infinitesmiles.png" alt="Infinite Smiles project preview" loading="lazy" />
      </div>
    </div>

    <div class="card-noshadow">
      <div class="resource-text">
        <h3 class="resource-title">Goat Counter</h3>
        <a href="/work/goat-counter/">View my work&nbsp;&rarr;</a>
        <img src="/images/work/goatcounter.png" alt="Goat Counter project preview" loading="lazy" />
      </div>
    </div>
  </div>

  <h2>Development</h2>
  <p>
    From web development to RPA I support my work with careful research and bold iteration,
    exploring many possibilities before arriving at a comprehensive and versatile solution.
  </p>

  <div class="cardgrid-container">
    <div class="card-noshadow">
      <div class="resource-text">
        <h3 class="resource-title">Virra Marketing Web App</h3>
        <a href="/work/virra/">View my work&nbsp;&rarr;</a>
        <svg viewBox="0 0 86 86" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2">
          <path d="M1.84 55.464A43.201 43.201 0 010 43c0-4.222.622-8.421 1.84-12.464A12.598 12.598 0 0112.6 43 12.596 12.596 0 011.84 55.464zM22.709 80.918a43.222 43.222 0 01-10.115-7.512 43.222 43.222 0 01-7.512-10.115 12.598 12.598 0 0116.422 1.205 12.598 12.598 0 011.205 16.422zM55.464 84.16A43.206 43.206 0 0143 86c-4.222 0-8.422-.622-12.464-1.84A12.596 12.596 0 0143 73.4c6.25 0 11.555 4.582 12.464 10.76zM80.917 63.291A43.157 43.157 0 0163.29 80.918a12.597 12.597 0 011.206-16.422 12.596 12.596 0 0116.421-1.205zM84.159 30.536A43.206 43.206 0 0185.999 43c0 4.222-.622 8.421-1.84 12.464A12.598 12.598 0 0173.399 43c0-6.25 4.582-11.556 10.76-12.464zM63.29 5.082a43.222 43.222 0 0110.115 7.512 43.194 43.194 0 017.512 10.115 12.598 12.598 0 01-16.422-1.205A12.598 12.598 0 0163.29 5.082zM30.535 1.841A43.173 43.173 0 0142.999 0c4.222 0 8.422.622 12.464 1.841C54.555 8.019 49.249 12.6 42.999 12.6A12.597 12.597 0 0130.535 1.841zM5.082 22.71a43.174 43.174 0 017.512-10.115 43.153 43.153 0 0110.115-7.512 12.597 12.597 0 01-1.206 16.422A12.597 12.597 0 015.082 22.71z" fill="red"></path>
        </svg>
      </div>
    </div>

    <div class="card-noshadow">
      <div class="resource-text">
        <h3 class="resource-title">Custom Canvas App</h3>
        <a href="#" aria-disabled="true">Writing in progress&nbsp;&#128274;</a>
        <svg viewBox="0 0 86 86" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2">
          <path d="M1.84 55.464A43.201 43.201 0 010 43c0-4.222.622-8.421 1.84-12.464A12.598 12.598 0 0112.6 43 12.596 12.596 0 011.84 55.464zM22.709 80.918a43.222 43.222 0 01-10.115-7.512 43.222 43.222 0 01-7.512-10.115 12.598 12.598 0 0116.422 1.205 12.598 12.598 0 011.205 16.422zM55.464 84.16A43.206 43.206 0 0143 86c-4.222 0-8.422-.622-12.464-1.84A12.596 12.596 0 0143 73.4c6.25 0 11.555 4.582 12.464 10.76zM80.917 63.291A43.157 43.157 0 0163.29 80.918a12.597 12.597 0 011.206-16.422 12.596 12.596 0 0116.421-1.205zM84.159 30.536A43.206 43.206 0 0185.999 43c0 4.222-.622 8.421-1.84 12.464A12.598 12.598 0 0173.399 43c0-6.25 4.582-11.556 10.76-12.464zM63.29 5.082a43.222 43.222 0 0110.115 7.512 43.194 43.194 0 017.512 10.115 12.598 12.598 0 01-16.422-1.205A12.598 12.598 0 0163.29 5.082zM30.535 1.841A43.173 43.173 0 0142.999 0c4.222 0 8.422.622 12.464 1.841C54.555 8.019 49.249 12.6 42.999 12.6A12.597 12.597 0 0130.535 1.841zM5.082 22.71a43.174 43.174 0 017.512-10.115 43.153 43.153 0 0110.115-7.512 12.597 12.597 0 01-1.206 16.422A12.597 12.597 0 015.082 22.71z" fill="red"></path>
        </svg>
      </div>
    </div>
  </div>

  <h2>Marketing</h2>
  <p>
    Amplify your voice by translating your brand to an infinite array of print, digital, and video
    campaigns that can grow with you and remain authentic in a multitude of touchpoints.
  </p>

  <div class="cardgrid-container">
    <div class="card-noshadow two-column">
      <div class="resource-text">
        <h3 class="resource-title">ABB</h3>
        <a href="#" aria-disabled="true">Writing in progress&nbsp;&#128274;</a>
        <svg preserveAspectRatio="xMinYMax meet" xmlns="http://www.w3.org/2000/svg" fill="#ff000f" viewBox="-1 -1 88.2 35">
          <path d="M47 33h2c6-.3 10.2-5 10.2-10.6 0-1.9-.4-3.8-1.3-5.3H47V33zM36 17h10v16H36zM57.3 16c-1-1.4-2.4-2.5-3.9-3.3 1.8-1.3 3-3.4 3-5.7 0-3.9-3.1-7-7-7H47v16h10.3zM36 0h10v16H36zM74 33h2c6-.3 10.2-5 10.2-10.6 0-1.9-.4-3.8-1.3-5.3H74V33zM63 17h10v16H63zM84.3 16c-1-1.4-2.4-2.5-3.9-3.3 1.8-1.3 3-3.4 3-5.7 0-3.9-3.1-7-7-7H74v16h10.3zM63 0h10v16H63zM5.7 17L0 33h8.3l2.4-7H16v-9zM16 0h-4.3L6 16h10zM17 26h5.3l2.4 7H33l-5.7-16H17zM27 16L21.3 0H17v16z"></path>
        </svg>
      </div>
    </div>
  </div>
</BaseLayout>
