---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getPostSlug, hasTag, isPublishablePost, sortPostsByDateDesc } from "@/lib/content";

const posts = sortPostsByDateDesc((await getCollection("posts")).filter((post) => isPublishablePost(post))).filter((post) =>
  hasTag(post, "dev"),
);
---

<BaseLayout title="The Dev Collection" description="A collection of posts on development.">
  <ul>
    {posts.map((post) => (
      <li>
        <a href={`/${getPostSlug(post)}/`}>{post.data.title ?? getPostSlug(post)}</a>
      </li>
    ))}
  </ul>
</BaseLayout>
