<!DOCTYPE html>
<html lang='en'>

{% include head.html %}

{% if page.code %}
<style>
{% include highlight.css %}
</style>
{% endif %}

<body class="pagebody">

  {% include analytics.html %}
  {% include header.html %}

  {% if page.subtitle %}
    <h1 class="hero-headline" style="margin-bottom:0;">{{ page.title }}</h1>
    <p class="summary-copy">{{ page.subtitle }}</p>
  {% else %}
    <h1 class="hero-headline">{{ page.title }}</h1>
  {% endif %}

    {{ content }}

    {% include footer.html %}
  </div>


  <script src="{{ '/js/masonry.pkgd.min.js' | prepend: site.baseurl }}">            </script>
  <script src="{{ '/js/imagesloaded.pkgd.min.js' | prepend: site.baseurl }}">       </script>
  <script src="{{ '/js/evil-icons.min.js' | prepend: site.baseurl }}">              </script>
</body>

</html>