<!DOCTYPE html>
<html lang='en'>

{% include head.html %}

<body>

    {{ content }}

    {% include footer.html %}
  </div>


  <script src="{{ '/js/masonry.pkgd.min.js' | prepend: site.baseurl }}">            </script>
  <script src="{{ '/js/imagesloaded.pkgd.min.js' | prepend: site.baseurl }}">       </script>
  <script src="{{ '/js/evil-icons.min.js' | prepend: site.baseurl }}">              </script>
  <link rel="stylesheet" href="//cdn.materialdesignicons.com/3.8.95/css/materialdesignicons.min.css">
</body>

</html>