---
layout: default
---

{% include base_path %}

{% assign author = site.authors[page.author] %}

{% if page.image %}
  <meta itemprop='og:image' content='{{ base_path }}/{{ page.image }}'>
{% endif %}

<main>
  <div class="pagebody-content">
      <article class='c-post' itemscope itemtype='http://schema.org/BlogPosting'>

        <p class="summary-copy">{{ page.description }}</p>
        
        {% if page.image %}
        <div class="figure-container">
          <figure class="blog-figure image component image-big image-fullbleed body-copy-wide">
            <img class="picture-image"  alt='{{ page.image }}' src='{{ page.image | prepend: "/images/posts/" | prepend: site.baseurl }}'>
            <figcaption class="image-text">{{ page.caption }}</figcaption>
          </figure>
        </div>
        {% endif %}

          {{ content }}
        </div>
      </article>

      <div style="display: grid; grid-template-columns: 50% 50%;" class="PageNavigation">
        {% if page.next.url %}
        <a style="color: #000; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="next more-btn" href="{{page.next.url}}">&laquo; {{page.next.title}}</a>
        {% endif %}
        {% if page.previous.url %}
        <a style="color: #000; text-align: right; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="prev more-btn" href="{{page.previous.url}}">{{page.previous.title}} &raquo;</a>
        {% endif %}
      </div>

    </div>
  </div>
</div>