<!DOCTYPE html>
<html lang='en'>

{% include head.html %}

<body class="pagebody">

  {% include analytics.html %}
  {% include header.html %}



{% include base_path %}

{% assign author = site.authors[page.author] %}

{% if page.image %}
  <meta itemprop='og:image' content='{{ base_path }}/{{ page.image }}'>
{% endif %}

<main>
  <div class="pagebody-content">
      <article class='c-post' itemscope itemtype='http://schema.org/BlogPosting'>
        
        {% if page.subtitle %}
        <h1 class="hero-headline" style="margin-bottom:0;">{{ page.title }}</h1>
        <p class="summary-copy">{{ page.subtitle }}</p>
        {% else %}
        <h1 class="hero-headline">{{ page.title }}</h1>
        {% endif %}
        <p class="summary-copy">{{ page.description }}</p>
        
        {% if page.image %}
        <div class="figure-container">
          <figure class="blog-figure image component image-big image-fullbleed body-copy-wide">
            <img class="picture-image"  alt='{{ page.image }}' src='{{ page.image | prepend: "/images/posts/" | prepend: site.baseurl }}'>
            <figcaption class="image-text">{{ page.caption }}</figcaption>
          </figure>
        </div>
        {% endif %}

          {{ content }}
      </article>
  </div>
</main>
      

      <div style="display: grid; grid-template-columns: 50% 50%;" class="PageNavigation">
        {% if page.next.url %}
        <a style="color: #000; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="next more-btn" href="{{page.next.url}}">&laquo; {{page.next.title}}</a>
        {% endif %}
        {% if page.previous.url %}
        <a style="color: #000; text-align: right; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="prev more-btn" href="{{page.previous.url}}">{{page.previous.title}} &raquo;</a>
        {% endif %}
      </div>


  {{ content }}

  {% include footer.html %}

</body>

</html>