<!DOCTYPE html>
<html lang='en'>

{% include head.html %}

<body class="pagebody">


    {% include analytics.html %}
    {% include header.html %}
    <style>
        
    </style>


  <article>
    {% if page.subtitle %}
      <h1>{{ page.title }}</h1>
      <h2 style="font-size: var(--font-medium-large)">{{ page.subtitle }}</h2>
    {% else %}
      <h1>{{ page.title }}</h1>
    {% endif %}
    <div class="pagebody-content">
    {{ content }}
</div>
  </article>

    {% include footer.html %}

</body>

</html>